.filters {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background: white;
  border: solid 1px black;
  border-radius: 6px;
  color: black;
  padding: 2px 16px 4px;
  min-width: 100px;
  cursor: pointer;

  &:focus {
    outline: unset;
  }

  .count {
    position: absolute;
    font-size: 11px;
    top: 2px;
    right: 8px;
  }
}

.menu-items {
  background: white;
  border: solid 1px lightgrey;
  min-width: 160px;
  width: fit-content;
  border-radius: 8px;

  font-size: 14px;

  transform-origin: top left;

  .options {
    padding: 12px 4px;
    max-height: 300px;
    overflow-y: scroll;
  }

  .item {
    display: flex;
    white-space: nowrap;
    padding: 8px;
  }

  .action {
    padding: 12px;
    border-top: 1px lightgray solid;

    .action-button {
      padding: 8px 32px;
      white-space: nowrap;
    }
  }
}
