.selectContainer {
  position: relative;
  width: 100%;
}

.select {
  position: relative;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
  height: 36px;
  padding: 4px 16px 4px 8px;
  font-size: 12px;
  font-weight: 400;
  color: black;
  background-color: white;

  appearance: none;

  &:focus {
    outline: none;
  }
}

.caretDown {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
