@use "@utils/mixins/colors";

.button {
  outline: none;
  cursor: pointer;
  height: fit-content;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--primary {
    border: 1px solid black;
    border-radius: 8px;
    background: black;
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;

    letter-spacing: 0.7px;
    padding: 10px 60px;
    text-wrap: nowrap;
    height: 40px;

    &:enabled:active {
      transform: scale(0.9);
    }

    &:hover {
      background: white;
      color: black;
    }

    &:hover:disabled {
      background: black;
      color: white;
    }
  }

  &--secondary {
    border: none;
    background: transparent;
    font-size: 20px;
    color: black;
    padding: 0 5px 2px;
  }

  &--tertiary {
    border: solid 1px black;
    border-radius: 8px;
    background: transparent;
    font-size: 14px;
    color: black;
    padding: 2px 20px 4px;
  }

  &--link {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    font-weight: 300;
    font-size: 14px;
    color: colors.$black;
  }
}
