.label {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  text-transform: capitalize;

  .checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  .checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 3px;

    &:focus {
      outline: 1px solid gray;
    }

    &:checked {
      background: black;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .checkmark {
    position: absolute;
    color: white;
    pointer-events: none;
    opacity: 0;
  }

  .checkbox:checked + .checkmark {
    opacity: 1;
  }
}
