.trigger {
  text-align: left;
  font-size: 12px;
}

.size-guide {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
  align-items: center;
  justify-items: center;
  padding-bottom: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.image {
  width: 100%;
  height: auto;
  padding: 24px;
}

.sizeChartContainer {
  overflow-x: auto;
  width: min-content;
  max-width: calc(100% - 96px);
  background: /* Shadow covers */
    linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 100% 0,
    /* Shadows */ linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) 100% 0;
  background-repeat: no-repeat;
  background-color: white;
  background-size:
    40px 100%,
    40px 100%,
    14px 100%,
    14px 100%;
  background-attachment: local, local, scroll, scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .sizeChart {
    height: min-content;
    border-collapse: collapse;
    border: 1px solid #000;

    th {
      text-align: left;
      padding: 8px 24px;
      border: 1px solid #000;
      font-size: 12px;

      &:first-child {
        padding: 8px 12px;
      }
    }

    td {
      font-size: 12px;

      white-space: nowrap;
      padding: 8px 24px;
      border: 1px solid #000;

      &:first-child {
        padding: 8px 12px;
      }
    }
  }
}
