@use "@utils/mixins/colors";

.root {
  width: 100%;
}

.item {
  overflow: hidden;
  width: 100%;

  h3 {
    all: unset;
  }
}

.header {
  display: flex;
}

.trigger {
  background-color: transparent;
  padding: 0px;
  height: 45px;
  width: 100%;
  flex: 1;
  border: none;
  border-bottom: 1px solid colors.$black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 12px;
  font-weight: 400;
  color: colors.$black;
  line-height: 1;
  cursor: pointer;
}

.content {
  overflow: hidden;
  border-bottom: 1px solid colors.$black;

  .content-text {
    padding: 16px;
    font-size: 12px;
    line-height: 24px;

    p {
      margin: 0px;
    }
  }
}

.content[data-state="open"] {
  animation: slideDown 300ms linear;
}
.content[data-state="closed"] {
  animation: slideUp 300ms linear;
}

.caret {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.trigger[data-state="open"] > .caret {
  transform: rotate(90deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
