.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}

.image {
  width: 100%;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-width: 650px;
  margin-bottom: 80px;

  .subscribe-text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2,
    p {
      margin: 0;
    }
  }
}

.content {
  max-width: 1024px;
  width: 90%;

  h1 {
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      font-size: 36px;
      line-height: 48px;
    }
  }
}

.product {
  width: 100%;
  max-width: 400px;
}

.shop-products {
  justify-content: center !important;
}
