.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overscroll-behavior-y: none;
  object-position: 50%;
  cursor: pointer;
  z-index: 2;
  img {
    object-fit: cover;
  }
}

.logo {
  position: fixed;
  top: 48px;
  left: 80px;
  width: 200px;
  aspect-ratio: 1/1;
  cursor: pointer;
  z-index: 3;

  img {
    object-fit: contain;
    object-position: 0 0;
    z-index: 3;
  }

  @media only screen and (max-width: 900px) {
    width: 40%;
    max-width: 250px;
    top: 5%;
    left: 10%;
    z-index: 3;
  }
}

.banner {
  &--desktop {
    display: block;
  }

  &--mobile {
    display: none;
  }

  @media only screen and (max-width: 900px) {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
