.video {
  width: calc(100% + 40px);
  margin-top: -36px;
  margin-left: -20px;
}

.sound-button {
  position: absolute;
  right: 20px;
  background-color: rgb(255, 255, 255, 0.1);
  cursor: pointer;
  z-index: 9;
  min-width: 100px;
  font-weight: 700;
  font-size: 13px;
}
